{
    "fuzzing": {
        "workers": 4,
        "workerResetLimit": 50,
        "timeout": 900,
        "testLimit": 0,
        "callSequenceLength": 100,
        "corpusDirectory": "corpus/__COMPONENT__",
        "deploymentOrder": ["CryticTester"],
        "targetContracts": ["CryticTester"],
        "constructorArgs": {},
        "deployer": "0x10000",
        "sender": ["0x20000", "0x30000", "0x40000"],
        "senderDeployLimit": 1,
        "testAllContracts": false,
        "traceAll": false
    },
    "compilation": {
        "platform": "crytic-compile",
        "platformConfig": {
            "target": ".",
            "solcVersion": "",
            "exportDirectory": "",
            "args": ["--foundry-compile-all"]
        }
    },
    "testing": {
        "stopOnFailedTest": true,
        "stopOnFailedContractMatching": false,
        "stopOnNoTests": true,
        "testViewMethods": false,
        "assertionTesting": {
            "enabled": true,
            "testViewMethods": false,
            "assertionModes": {
                "failOnCompilerInsertedPanic": false
            }
        },
        "propertyTesting": {
            "enabled": true,
            "testPrefixes": ["property_"]
        },
        "optimizationTesting": {
            "enabled": true,
            "testPrefixes": ["optimize_"]
        }
    }
}
